fastapi
uvicorn
python-dotenv
requests
pydantic
beautifulsoup4
sec-api
langchain
langchain-core
langchain-openai
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
pandas
nltk
yfinance
matplotlib
scikit-learn