.modal-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
}

.model-container-inner {
  width: 70%;
  height: 40%;
  background-color:rgba(146, 92, 196, 0.6);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.model-container-inner .esc{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px;
  background-color: rgba(246, 43, 43, 0.6);
}

.model-container-inner .esc:hover{
  cursor: pointer;
  background-color: rgba(246, 43, 43, 0.5);
}

.model-container-inner span{
  color: black;
  font-weight: 900;
}